.container {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.container-card {
    overflow: hidden;
    width: 40vw;
    height: 20vh;
    margin: 4vw;
    border-radius: 16px;
}